<p>
  Current status: {{storage.getGauge()}}
</p>
<p>
  Display style:
  <select [(ngModel)]="storage.themeName">
    <option *ngFor="let theme of storage.availableThemes" [value]="theme.name">
      {{theme.filled.repeat(7)}}{{theme.empty.repeat(3)}}
    </option>
  </select>

  Unit:
  <select [(ngModel)]="storage.unit">
    <option *ngFor="let unit of storage.availableUnits" [value]="unit">{{unit}}</option>
  </select>
</p>

<p>
  <input type="number" [(ngModel)]="pointsDelta"><button (click)="losePoints()">{{storage.unit}} lost</button>
</p>
<p>
  <button (click)="refillCounter()">Refill {{storage.unit}}</button>
</p>
